* {
    padding: 0;
    font-weight: 900;
}

body {
    background-color: #15151D;
}

header {
    display: flex;
    padding: auto;
    width: 4.9375rem;
    height: 4.56969rem;
    flex-shrink: 0;
    padding-left: 6.12rem;
    padding-top: 2rem;
}

.pictures {
    display: flex;
    position: relative;
    justify-content: center;

    margin-top: 5rem;
}

.portal {
    position: absolute;
    left: -10px;
}

.duoleft {
    position: absolute;
    right: 0;
}

.container-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-family: Outfit;
    font-weight: 700;
    display: flex;
    position: absolute;
    right: 35.5rem;
    
}

.todos {
    color: #CEEE1D;
    font-family: Outfit;
    font-size: 2.36806rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 2rem;
}

.curtidos {
    color: #FFF;
    font-family: Outfit;
    font-size: 2.36806rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 2rem;
}